@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-900 text-slate-100;
}

.tab-element {
  background-color: transparent !important;
  text-align: center;
  color: #94a3b8;
  padding: 12px;
  cursor: pointer;
  border-bottom: 1px solid #94a3b8;
  width: 25%;

  &:hover {
    color: #d97706;
  }
}

.tab-element-selected {
  color: #d97706;
  border-bottom: 4px solid #d97706;
}

.heart {
  cursor: pointer;
  height: 50px;
  width: 50px;
  background-image: url('https://abs.twimg.com/a/1446542199/img/t1/web_heart_animation.png');
  background-position: left;
  background-repeat: no-repeat;
  background-size: 2900%;
}

.heart:hover {
  background-position: right;
}

.isAnimating {
  animation: heart-burst .8s steps(28) 1;
}

@keyframes heart-burst {
  from {
    background-position: left;
  }

  to {
    background-position: right;
  }
}